.nanofl .size-60 {
  width: 300px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-60 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-60,
.nanofl select.size-60 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-60[multiple=multiple] {
  height: auto;
}
.nanofl .size-59 {
  width: 295px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-59 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-59,
.nanofl select.size-59 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-59[multiple=multiple] {
  height: auto;
}
.nanofl .size-58 {
  width: 290px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-58 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-58,
.nanofl select.size-58 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-58[multiple=multiple] {
  height: auto;
}
.nanofl .size-57 {
  width: 285px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-57 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-57,
.nanofl select.size-57 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-57[multiple=multiple] {
  height: auto;
}
.nanofl .size-56 {
  width: 280px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-56 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-56,
.nanofl select.size-56 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-56[multiple=multiple] {
  height: auto;
}
.nanofl .size-55 {
  width: 275px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-55 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-55,
.nanofl select.size-55 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-55[multiple=multiple] {
  height: auto;
}
.nanofl .size-54 {
  width: 270px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-54 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-54,
.nanofl select.size-54 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-54[multiple=multiple] {
  height: auto;
}
.nanofl .size-53 {
  width: 265px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-53 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-53,
.nanofl select.size-53 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-53[multiple=multiple] {
  height: auto;
}
.nanofl .size-52 {
  width: 260px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-52 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-52,
.nanofl select.size-52 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-52[multiple=multiple] {
  height: auto;
}
.nanofl .size-51 {
  width: 255px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-51 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-51,
.nanofl select.size-51 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-51[multiple=multiple] {
  height: auto;
}
.nanofl .size-50 {
  width: 250px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-50 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-50,
.nanofl select.size-50 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-50[multiple=multiple] {
  height: auto;
}
.nanofl .size-49 {
  width: 245px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-49 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-49,
.nanofl select.size-49 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-49[multiple=multiple] {
  height: auto;
}
.nanofl .size-48 {
  width: 240px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-48 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-48,
.nanofl select.size-48 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-48[multiple=multiple] {
  height: auto;
}
.nanofl .size-47 {
  width: 235px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-47 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-47,
.nanofl select.size-47 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-47[multiple=multiple] {
  height: auto;
}
.nanofl .size-46 {
  width: 230px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-46 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-46,
.nanofl select.size-46 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-46[multiple=multiple] {
  height: auto;
}
.nanofl .size-45 {
  width: 225px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-45 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-45,
.nanofl select.size-45 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-45[multiple=multiple] {
  height: auto;
}
.nanofl .size-44 {
  width: 220px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-44 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-44,
.nanofl select.size-44 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-44[multiple=multiple] {
  height: auto;
}
.nanofl .size-43 {
  width: 215px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-43 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-43,
.nanofl select.size-43 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-43[multiple=multiple] {
  height: auto;
}
.nanofl .size-42 {
  width: 210px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-42 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-42,
.nanofl select.size-42 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-42[multiple=multiple] {
  height: auto;
}
.nanofl .size-41 {
  width: 205px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-41 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-41,
.nanofl select.size-41 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-41[multiple=multiple] {
  height: auto;
}
.nanofl .size-40 {
  width: 200px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-40 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-40,
.nanofl select.size-40 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-40[multiple=multiple] {
  height: auto;
}
.nanofl .size-39 {
  width: 195px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-39 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-39,
.nanofl select.size-39 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-39[multiple=multiple] {
  height: auto;
}
.nanofl .size-38 {
  width: 190px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-38 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-38,
.nanofl select.size-38 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-38[multiple=multiple] {
  height: auto;
}
.nanofl .size-37 {
  width: 185px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-37 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-37,
.nanofl select.size-37 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-37[multiple=multiple] {
  height: auto;
}
.nanofl .size-36 {
  width: 180px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-36 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-36,
.nanofl select.size-36 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-36[multiple=multiple] {
  height: auto;
}
.nanofl .size-35 {
  width: 175px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-35 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-35,
.nanofl select.size-35 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-35[multiple=multiple] {
  height: auto;
}
.nanofl .size-34 {
  width: 170px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-34 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-34,
.nanofl select.size-34 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-34[multiple=multiple] {
  height: auto;
}
.nanofl .size-33 {
  width: 165px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-33 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-33,
.nanofl select.size-33 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-33[multiple=multiple] {
  height: auto;
}
.nanofl .size-32 {
  width: 160px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-32 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-32,
.nanofl select.size-32 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-32[multiple=multiple] {
  height: auto;
}
.nanofl .size-31 {
  width: 155px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-31 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-31,
.nanofl select.size-31 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-31[multiple=multiple] {
  height: auto;
}
.nanofl .size-30 {
  width: 150px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-30 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-30,
.nanofl select.size-30 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-30[multiple=multiple] {
  height: auto;
}
.nanofl .size-29 {
  width: 145px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-29 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-29,
.nanofl select.size-29 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-29[multiple=multiple] {
  height: auto;
}
.nanofl .size-28 {
  width: 140px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-28 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-28,
.nanofl select.size-28 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-28[multiple=multiple] {
  height: auto;
}
.nanofl .size-27 {
  width: 135px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-27 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-27,
.nanofl select.size-27 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-27[multiple=multiple] {
  height: auto;
}
.nanofl .size-26 {
  width: 130px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-26 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-26,
.nanofl select.size-26 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-26[multiple=multiple] {
  height: auto;
}
.nanofl .size-25 {
  width: 125px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-25 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-25,
.nanofl select.size-25 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-25[multiple=multiple] {
  height: auto;
}
.nanofl .size-24 {
  width: 120px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-24 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-24,
.nanofl select.size-24 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-24[multiple=multiple] {
  height: auto;
}
.nanofl .size-23 {
  width: 115px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-23 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-23,
.nanofl select.size-23 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-23[multiple=multiple] {
  height: auto;
}
.nanofl .size-22 {
  width: 110px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-22 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-22,
.nanofl select.size-22 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-22[multiple=multiple] {
  height: auto;
}
.nanofl .size-21 {
  width: 105px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-21 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-21,
.nanofl select.size-21 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-21[multiple=multiple] {
  height: auto;
}
.nanofl .size-20 {
  width: 100px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-20 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-20,
.nanofl select.size-20 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-20[multiple=multiple] {
  height: auto;
}
.nanofl .size-19 {
  width: 95px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-19 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-19,
.nanofl select.size-19 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-19[multiple=multiple] {
  height: auto;
}
.nanofl .size-18 {
  width: 90px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-18 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-18,
.nanofl select.size-18 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-18[multiple=multiple] {
  height: auto;
}
.nanofl .size-17 {
  width: 85px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-17 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-17,
.nanofl select.size-17 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-17[multiple=multiple] {
  height: auto;
}
.nanofl .size-16 {
  width: 80px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-16 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-16,
.nanofl select.size-16 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-16[multiple=multiple] {
  height: auto;
}
.nanofl .size-15 {
  width: 75px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-15 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-15,
.nanofl select.size-15 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-15[multiple=multiple] {
  height: auto;
}
.nanofl .size-14 {
  width: 70px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-14 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-14,
.nanofl select.size-14 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-14[multiple=multiple] {
  height: auto;
}
.nanofl .size-13 {
  width: 65px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-13 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-13,
.nanofl select.size-13 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-13[multiple=multiple] {
  height: auto;
}
.nanofl .size-12 {
  width: 60px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-12 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-12,
.nanofl select.size-12 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-12[multiple=multiple] {
  height: auto;
}
.nanofl .size-11 {
  width: 55px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-11 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-11,
.nanofl select.size-11 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-11[multiple=multiple] {
  height: auto;
}
.nanofl .size-10 {
  width: 50px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-10 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-10,
.nanofl select.size-10 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-10[multiple=multiple] {
  height: auto;
}
.nanofl .size-9 {
  width: 45px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-9 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-9,
.nanofl select.size-9 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-9[multiple=multiple] {
  height: auto;
}
.nanofl .size-8 {
  width: 40px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-8 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-8,
.nanofl select.size-8 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-8[multiple=multiple] {
  height: auto;
}
.nanofl .size-7 {
  width: 35px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-7 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-7,
.nanofl select.size-7 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-7[multiple=multiple] {
  height: auto;
}
.nanofl .size-6 {
  width: 30px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-6 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-6,
.nanofl select.size-6 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-6[multiple=multiple] {
  height: auto;
}
.nanofl .size-5 {
  width: 25px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-5 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-5,
.nanofl select.size-5 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-5[multiple=multiple] {
  height: auto;
}
.nanofl .size-4 {
  width: 20px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-4 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-4,
.nanofl select.size-4 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-4[multiple=multiple] {
  height: auto;
}
.nanofl .size-3 {
  width: 15px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-3 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-3,
.nanofl select.size-3 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-3[multiple=multiple] {
  height: auto;
}
.nanofl .size-2 {
  width: 10px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-2 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-2,
.nanofl select.size-2 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-2[multiple=multiple] {
  height: auto;
}
.nanofl .size-1 {
  width: 5px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.nanofl label.size-1 {
  padding: 5px 5px 5px 0;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
}
.nanofl input.size-1,
.nanofl select.size-1 {
  margin-bottom: 0 !important;
  height: 28px;
}
.nanofl select.size-1[multiple=multiple] {
  height: auto;
}
.nanofl label.size-1.rightlabel {
  text-align: left;
}
.nanofl label.size-1.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-2.rightlabel {
  text-align: left;
}
.nanofl label.size-2.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-3.rightlabel {
  text-align: left;
}
.nanofl label.size-3.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-4.rightlabel {
  text-align: left;
}
.nanofl label.size-4.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-5.rightlabel {
  text-align: left;
}
.nanofl label.size-5.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-6.rightlabel {
  text-align: left;
}
.nanofl label.size-6.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-7.rightlabel {
  text-align: left;
}
.nanofl label.size-7.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-8.rightlabel {
  text-align: left;
}
.nanofl label.size-8.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-9.rightlabel {
  text-align: left;
}
.nanofl label.size-9.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-10.rightlabel {
  text-align: left;
}
.nanofl label.size-10.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-11.rightlabel {
  text-align: left;
}
.nanofl label.size-11.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-12.rightlabel {
  text-align: left;
}
.nanofl label.size-12.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-13.rightlabel {
  text-align: left;
}
.nanofl label.size-13.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-14.rightlabel {
  text-align: left;
}
.nanofl label.size-14.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-15.rightlabel {
  text-align: left;
}
.nanofl label.size-15.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-16.rightlabel {
  text-align: left;
}
.nanofl label.size-16.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-17.rightlabel {
  text-align: left;
}
.nanofl label.size-17.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-18.rightlabel {
  text-align: left;
}
.nanofl label.size-18.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-19.rightlabel {
  text-align: left;
}
.nanofl label.size-19.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-20.rightlabel {
  text-align: left;
}
.nanofl label.size-20.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-21.rightlabel {
  text-align: left;
}
.nanofl label.size-21.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-22.rightlabel {
  text-align: left;
}
.nanofl label.size-22.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-23.rightlabel {
  text-align: left;
}
.nanofl label.size-23.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-24.rightlabel {
  text-align: left;
}
.nanofl label.size-24.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-25.rightlabel {
  text-align: left;
}
.nanofl label.size-25.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-26.rightlabel {
  text-align: left;
}
.nanofl label.size-26.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-27.rightlabel {
  text-align: left;
}
.nanofl label.size-27.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-28.rightlabel {
  text-align: left;
}
.nanofl label.size-28.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-29.rightlabel {
  text-align: left;
}
.nanofl label.size-29.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-30.rightlabel {
  text-align: left;
}
.nanofl label.size-30.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-31.rightlabel {
  text-align: left;
}
.nanofl label.size-31.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-32.rightlabel {
  text-align: left;
}
.nanofl label.size-32.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-33.rightlabel {
  text-align: left;
}
.nanofl label.size-33.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-34.rightlabel {
  text-align: left;
}
.nanofl label.size-34.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-35.rightlabel {
  text-align: left;
}
.nanofl label.size-35.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-36.rightlabel {
  text-align: left;
}
.nanofl label.size-36.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-37.rightlabel {
  text-align: left;
}
.nanofl label.size-37.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-38.rightlabel {
  text-align: left;
}
.nanofl label.size-38.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-39.rightlabel {
  text-align: left;
}
.nanofl label.size-39.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-40.rightlabel {
  text-align: left;
}
.nanofl label.size-40.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-41.rightlabel {
  text-align: left;
}
.nanofl label.size-41.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-42.rightlabel {
  text-align: left;
}
.nanofl label.size-42.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-43.rightlabel {
  text-align: left;
}
.nanofl label.size-43.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-44.rightlabel {
  text-align: left;
}
.nanofl label.size-44.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-45.rightlabel {
  text-align: left;
}
.nanofl label.size-45.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-46.rightlabel {
  text-align: left;
}
.nanofl label.size-46.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-47.rightlabel {
  text-align: left;
}
.nanofl label.size-47.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-48.rightlabel {
  text-align: left;
}
.nanofl label.size-48.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-49.rightlabel {
  text-align: left;
}
.nanofl label.size-49.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-50.rightlabel {
  text-align: left;
}
.nanofl label.size-50.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-51.rightlabel {
  text-align: left;
}
.nanofl label.size-51.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-52.rightlabel {
  text-align: left;
}
.nanofl label.size-52.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-53.rightlabel {
  text-align: left;
}
.nanofl label.size-53.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-54.rightlabel {
  text-align: left;
}
.nanofl label.size-54.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-55.rightlabel {
  text-align: left;
}
.nanofl label.size-55.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-56.rightlabel {
  text-align: left;
}
.nanofl label.size-56.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-57.rightlabel {
  text-align: left;
}
.nanofl label.size-57.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-58.rightlabel {
  text-align: left;
}
.nanofl label.size-58.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-59.rightlabel {
  text-align: left;
}
.nanofl label.size-59.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl label.size-60.rightlabel {
  text-align: left;
}
.nanofl label.size-60.checkboxlabel {
  text-align: left;
  padding-right: 0;
}
.nanofl-pane {
  padding: 10px 0 0 0;
  background-color: #fafafa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nanofl-pane .nanofl-group {
  padding-bottom: 10px;
}
.nanofl-pane .nanofl-group > legend {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ddd;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
}
.nanofl-pane .nanofl-group.collapsed {
  padding-bottom: 0;
  overflow: hidden;
}
.nanofl-pane .nanofl-group.collapsed > legend {
  margin-bottom: 0;
}
.nanofl-pane .nanofl-row {
  padding: 2px 0;
  text-align: center;
  font-size: 0;
  white-space: nowrap;
}
.nanofl-pane .nanofl-row.narrow {
  padding: 0;
  margin-top: -6px;
  margin-bottom: -2px;
}
.nanofl-pane select,
.nanofl-pane .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.nanofl-pane .btn-mini.dropdown-toggle [class^="icon-"],
.nanofl-pane .btn-mini.dropdown-toggle [class*=" icon-"] {
  margin-top: -1px;
}
.nanofl-pane span.longlabel {
  padding-top: 5px;
  vertical-align: top;
}
